name: Approve PR

on:
  workflow_dispatch:
    inputs:
      pr-number:
        description: "Pull request number to approve"
        required: true
        type: number

jobs:
  approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: hmarr/auto-approve-action@v4
        with:
          pull-request-number: ${{ inputs.pr-number }}
